unit_tests:
  stage: test
  image:
    name: python:3.11.5
  variables:
    PRE_COMMIT_HOME: "$CI_PROJECT_DIR/.cache/pre-commit"
  cache:
    key: test-cache
    paths:
      - $PRE_COMMIT_HOME
      - .venv
  before_script:
    - git config --global url."https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.gistools.geog.uni-heidelberg.de".insteadOf "ssh://git@gitlab.gistools.geog.uni-heidelberg.de:2022" && \
    - pip install poetry
    - poetry config virtualenvs.in-project true
    - poetry install
    - source `poetry env info --path`/bin/activate
  script:
    - poetry run pre-commit run --all-files
    - poetry run pytest


docker_build_deploy:
  stage: deploy
  only:
    - main
  image:
    name: gcr.io/kaniko-project/executor:v1.14.0-debug
    entrypoint: [""]
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"https://index.docker.io/v1/\":{\"auth\":\"$(printf "%s:%s" "${CI_DOCKER_USER}" "${CI_DOCKER_TOKEN}" | base64 | tr -d '\n')\"}}}}" > /kaniko/.docker/config.json
    - echo "${CI_JOB_TOKEN}" > /kaniko/CI_JOB_TOKEN
    - >
      if [ -z ${CI_COMMIT_TAG+x} ]; then
        /kaniko/executor \
          --context "${CI_PROJECT_DIR}" \
          --dockerfile "${CI_PROJECT_DIR}/Dockerfile.Kaniko" \
          --destination "docker.io/heigit/ca-${CI_PROJECT_NAME}:devel"
      else
        /kaniko/executor \
          --context "${CI_PROJECT_DIR}" \
          --dockerfile "${CI_PROJECT_DIR}/Dockerfile.Kaniko" \
          --destination "docker.io/heigit/ca-${CI_PROJECT_NAME}:devel" \
          --destination "docker.io/heigit/ca-${CI_PROJECT_NAME}:${CI_COMMIT_TAG}"
      fi
