interactions:
- request:
    body: bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22id%22%3A+%220%22%2C+%22type%22%3A+%22Feature%22%2C+%22properties%22%3A+%7B%7D%2C+%22geometry%22%3A+%7B%22type%22%3A+%22MultiPolygon%22%2C+%22coordinates%22%3A+%5B%5B%5B%5B8.7108559%2C+49.407988%5D%2C+%5B8.7108559%2C+49.4136026%5D%2C+%5B8.6983273%2C+49.4136026%5D%2C+%5B8.6983273%2C+49.407988%5D%2C+%5B8.7108559%2C+49.407988%5D%5D%5D%5D%7D%7D%5D%7D&filter=highway%3Dcrossing&properties=tags&clipGeometry=True
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/geometry
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"type\" : \"FeatureCollection\",\n  \"features\" : [{\n
        \   \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\" : \"Point\",\n
        \     \"coordinates\" : [\n        8.7068472,\n        49.4092015\n      ]\n
        \   },\n    \"properties\" : {\n      \"@osmId\" : \"node/17392238\",\n      \"@snapshotTimestamp\"
        : \"2026-07-27T09:00:00Z\",\n      \"button_operated\" : \"no\",\n      \"crossing\"
        : \"traffic_signals\",\n      \"crossing:island\" : \"no\",\n      \"highway\"
        : \"crossing\",\n      \"kerb\" : \"lowered\",\n      \"tactile_paving\" :
        \"no\",\n      \"traffic_calming\" : \"no\",\n      \"traffic_sign\" : \"DE:274.1[20]\",\n
        \     \"traffic_signals:sound\" : \"yes\",\n      \"traffic_signals:vibration\"
        : \"yes\"\n    }\n  }, {\n    \"type\" : \"Feature\",\n    \"geometry\" :
        {\n      \"type\" : \"Point\",\n      \"coordinates\" : [\n        8.7013347,\n
        \       49.4126656\n      ]\n    },\n    \"properties\" : {\n      \"@osmId\"
        : \"node/135742806\",\n      \"@snapshotTimestamp\" : \"2026-07-27T09:00:00Z\",\n
        \     \"button_operated\" : \"yes\",\n      \"crossing\" : \"traffic_signals\",\n
        \     \"crossing:island\" : \"no\",\n      \"highway\" : \"crossing\",\n      \"kerb\"
        : \"lowered\",\n      \"tactile_paving\" : \"yes\",\n      \"traffic_calming\"
        : \"no\",\n      \"traffic_signals:sound\" : \"yes\",\n      \"traffic_signals:vibration\"
        : \"no\"\n    }\n  }, {\n    \"type\" : \"Feature\",\n    \"geometry\" : {\n
        \     \"type\" : \"Point\",\n      \"coordinates\" : [\n        8.7105407,\n
        \       49.4135708\n      ]\n    },\n    \"properties\" : {\n      \"@osmId\"
        : \"node/441682268\",\n      \"@snapshotTimestamp\" : \"2026-07-27T09:00:00Z\",\n
        \     \"bicycle\" : \"yes\",\n      \"button_operated\" : \"yes\",\n      \"crossing\"
        : \"traffic_signals\",\n      \"crossing:island\" : \"no\",\n      \"highway\"
        : \"crossing\",\n      \"kerb\" : \"lowered\",\n      \"tactile_paving\" :
        \"yes\",\n      \"traffic_calming\" : \"no\",\n      \"traffic_signals:sound\"
        : \"yes\",\n      \"traffic_signals:vibration\" : \"no\"\n    }\n  }, {\n
        \   \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\" : \"Point\",\n
    [...]
