interactions:
- request:
    body: bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22id%22%3A+%220%22%2C+%22type%22%3A+%22Feature%22%2C+%22properties%22%3A+%7B%7D%2C+%22geometry%22%3A+%7B%22type%22%3A+%22Polygon%22%2C+%22coordinates%22%3A+%5B%5B%5B8.679063919738896%2C+49.40415084734862%5D%2C+%5B8.678837779097238%2C+49.40583706838322%5D%2C+%5B8.67637116867987%2C+49.40643785189488%5D%2C+%5B8.67413080382136%2C+49.40535240849951%5D%2C+%5B8.674357047104092%2C+49.40366620725092%5D%2C+%5B8.676823552607251%2C+49.403065429610486%5D%2C+%5B8.679063919738896%2C+49.40415084734862%5D%5D%5D%7D%7D%5D%7D&filter=amenity%3Dschool&properties=tags&clipGeometry=True
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/centroid
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"type\" : \"FeatureCollection\",\n  \"features\" : []\n}\n"
    headers:
      Content-Type:
      - application/geo+json;charset=utf-8
      Content-disposition:
      - attachment;filename=ohsome.geojson
    status:
      code: 200
      message: ''
- request:
    body: bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22id%22%3A+%220%22%2C+%22type%22%3A+%22Feature%22%2C+%22properties%22%3A+%7B%7D%2C+%22geometry%22%3A+%7B%22type%22%3A+%22Polygon%22%2C+%22coordinates%22%3A+%5B%5B%5B8.679063919738896%2C+49.40415084734862%5D%2C+%5B8.678837779097238%2C+49.40583706838322%5D%2C+%5B8.67637116867987%2C+49.40643785189488%5D%2C+%5B8.67413080382136%2C+49.40535240849951%5D%2C+%5B8.674357047104092%2C+49.40366620725092%5D%2C+%5B8.676823552607251%2C+49.403065429610486%5D%2C+%5B8.679063919738896%2C+49.40415084734862%5D%5D%5D%7D%7D%5D%7D&filter=amenity+in+%28childcare%2C+nursery%2C+kindergarten%2C+toy_library%29+or+leisure+in+%28playground%2C+indoor_play%29&properties=tags&clipGeometry=True
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/centroid
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"type\" : \"FeatureCollection\",\n  \"features\" : [{\n
        \   \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\" : \"Point\",\n
        \     \"coordinates\" : [\n        8.6786338,\n        49.4056591\n      ]\n
        \   },\n    \"properties\" : {\n      \"@osmId\" : \"way/340408306\",\n      \"@snapshotTimestamp\"
        : \"2026-07-27T09:00:00Z\",\n      \"access\" : \"yes\",\n      \"leisure\"
        : \"playground\"\n    }\n  }]\n}\n"
    headers:
      Content-Type:
      - application/geo+json;charset=utf-8
      Content-disposition:
      - attachment;filename=ohsome.geojson
    status:
      code: 200
      message: ''
[...]
- request:
    body: bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22id%22%3A+%220%22%2C+%22type%22%3A+%22Feature%22%2C+%22properties%22%3A+%7B%7D%2C+%22geometry%22%3A+%7B%22type%22%3A+%22Polygon%22%2C+%22coordinates%22%3A+%5B%5B%5B8.679063919738896%2C+49.40415084734862%5D%2C+%5B8.678837779097238%2C+49.40583706838322%5D%2C+%5B8.67637116867987%2C+49.40643785189488%5D%2C+%5B8.67413080382136%2C+49.40535240849951%5D%2C+%5B8.674357047104092%2C+49.40366620725092%5D%2C+%5B8.676823552607251%2C+49.403065429610486%5D%2C+%5B8.679063919738896%2C+49.40415084734862%5D%5D%5D%7D%7D%5D%7D&filter=highway%3Dbus_stop+or+railway+in+%28tram_stop%2C+station%2C+halt%2C+stop%29+or+station%3Dsubway&properties=tags&clipGeometry=True
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/centroid
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"type\" : \"FeatureCollection\",\n  \"features\" : [{\n
        \   \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\" : \"Point\",\n
        \     \"coordinates\" : [\n        8.6769361,\n        49.4043518\n      ]\n
        \   },\n    \"properties\" : {\n      \"@osmId\" : \"node/309414394\",\n      \"@snapshotTimestamp\"
        : \"2026-07-27T09:00:00Z\",\n      \"bench\" : \"yes\",\n      \"bin\" : \"yes\",\n
        \     \"bus\" : \"yes\",\n      \"check_date:shelter\" : \"2024-05-22\",\n
        \     \"highway\" : \"bus_stop\",\n      \"lit\" : \"yes\",\n      \"name\"
        : \"Heidelberg Hauptbahnhof (Steig L)\",\n      \"network\" : \"Verkehrsverbund
        Rhein-Neckar\",\n      \"network:guid\" : \"DE-BW-VRN\",\n      \"network:short\"
        : \"VRN\",\n      \"network:wikidata\" : \"Q1553051\",\n      \"network:wikipedia\"
        : \"de:Verkehrsverbund Rhein-Neckar\",\n      \"note\" : \"Linien 33 (Emmertsgrund),
        39A (EMBL/Mombertplatz, Randzeiten, direkt zu Alois-Link-Platz ohne Bismarckplatz),
        720 (St. Leon-Rot), 721 (Walldorf), M3 (Kirchheim)\",\n      \"public_transport\"
        : \"platform\",\n      \"railway:ref:DBAG\" : \"RH B\",\n      \"ref\" : \"L\",\n
        \     \"ref:RNV:RBL\" : \"BHHF\",\n      \"shelter\" : \"yes\",\n      \"tactile_paving\"
        : \"yes\",\n      \"wheelchair\" : \"limited\"\n    }\n  }, {\n    \"type\"
        : \"Feature\",\n    \"geometry\" : {\n      \"type\" : \"Point\",\n      \"coordinates\"
        : [\n        8.6779356,\n        49.404146\n      ]\n    },\n    \"properties\"
        : {\n      \"@osmId\" : \"node/309414400\",\n      \"@snapshotTimestamp\"
        : \"2026-07-27T09:00:00Z\",\n      \"bench\" : \"no\",\n      \"bin\" : \"yes\",\n
        \     \"bus\" : \"yes\",\n      \"highway\" : \"bus_stop\",\n      \"lit\"
        : \"yes\",\n      \"name\" : \"Heidelberg Hauptbahnhof (Steig P)\",\n      \"network\"
        : \"Verkehrsverbund Rhein-Neckar\",\n      \"network:guid\" : \"DE-BW-VRN\",\n
        \     \"network:short\" : \"VRN\",\n      \"network:wikidata\" : \"Q1553051\",\n
        \     \"network:wikipedia\" : \"de:Verkehrsverbund Rhein-Neckar\",\n      \"note\"
        : \"Linien 20 (nur Randzeiten), 33 (Ziegelhausen K\xF6pfel), 39A (nur Einstieg,
        Richtung Bismarckplatz), 717 (Stadtwerke), 720 (Bismarckplatz), 721 (nur Ausstieg,
        Randzeiten), 757 (Stadtwerke)\",\n      \"public_transport\" : \"platform\",\n
        \     \"railway:ref:DBAG\" : \"RH B\",\n      \"ref\" : \"P\",\n      \"ref:RNV:RBL\"
        : \"BHHF\",\n      \"shelter\" : \"yes\",\n      \"source\" : \"survey\",\n
        \     \"tactile_paving\" : \"yes\",\n      \"wheelchair\" : \"limited\"\n
        \   }\n  }, {\n    \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\"
        : \"Point\",\n      \"coordinates\" : [\n        8.6782558,\n        49.4042065\n
        \     ]\n    },\n    \"properties\" : {\n      \"@osmId\" : \"node/309414403\",\n
        \     \"@snapshotTimestamp\" : \"2026-07-27T09:00:00Z\",\n      \"bench\"
        : \"yes\",\n      \"bin\" : \"yes\",\n      [...]
[...]
- request:
    body: bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22id%22%3A+%220%22%2C+%22type%22%3A+%22Feature%22%2C+%22properties%22%3A+%7B%7D%2C+%22geometry%22%3A+%7B%22type%22%3A+%22Polygon%22%2C+%22coordinates%22%3A+%5B%5B%5B8.679063919738896%2C+49.40415084734862%5D%2C+%5B8.678837779097238%2C+49.40583706838322%5D%2C+%5B8.67637116867987%2C+49.40643785189488%5D%2C+%5B8.67413080382136%2C+49.40535240849951%5D%2C+%5B8.674357047104092%2C+49.40366620725092%5D%2C+%5B8.676823552607251%2C+49.403065429610486%5D%2C+%5B8.679063919738896%2C+49.40415084734862%5D%5D%5D%7D%7D%5D%7D&filter=amenity%3Dveterinary+or+leisure%3Ddog_park+or+%28amenity%3Dwaste_basket+and+waste%3Ddog_excrement%29+or+%28amenity%3Dvending_machine+and+vending%3Dexcrement_bags%29+or+shop%3Dpet_grooming&properties=tags&clipGeometry=True
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/centroid
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"type\" : \"FeatureCollection\",\n  \"features\" : []\n}\n"
    headers:
      Content-Type:
      - application/geo+json;charset=utf-8
      Content-disposition:
      - attachment;filename=ohsome.geojson
    status:
      code: 200
      message: ''
version: 1
