interactions:
- request:
    body: bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22id%22%3A+%220%22%2C+%22type%22%3A+%22Feature%22%2C+%22properties%22%3A+%7B%7D%2C+%22geometry%22%3A+%7B%22type%22%3A+%22MultiPolygon%22%2C+%22coordinates%22%3A+%5B%5B%5B%5B8.6774288%2C+49.4046213%5D%2C+%5B8.6774288%2C+49.4064122%5D%2C+%5B8.6742192%2C+49.4064122%5D%2C+%5B8.6742192%2C+49.4046213%5D%2C+%5B8.6774288%2C+49.4046213%5D%5D%5D%5D%7D%7D%5D%7D&filter=geometry%3Aline+and+%28highway%3D%2A+or+route%3Dferry+or+railway%3Dplatform+or+%28waterway%3Dlock_gate+and+foot+in+%28yes%2C+designated%2C+official%2C+permissive%29%29%29+and+not+%28footway%3Dseparate+or+sidewalk%3Dseparate+or+sidewalk%3Aboth%3Dseparate+or+%28sidewalk%3Aright%3Dseparate+and+sidewalk%3Aleft%3Dseparate%29+or+%28sidewalk%3Aright%3Dseparate+and+sidewalk%3Aleft%3Dno%29+or+%28sidewalk%3Aright%3Dno+and+sidewalk%3Aleft%3Dseparate%29%29
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/count
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"result\" : [ {\n    \"timestamp\" : \"2026-07-27T09:00:00Z\",\n
        \   \"value\" : 129.0\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
- request:
    body: bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22id%22%3A+%220%22%2C+%22type%22%3A+%22Feature%22%2C+%22properties%22%3A+%7B%7D%2C+%22geometry%22%3A+%7B%22type%22%3A+%22MultiPolygon%22%2C+%22coordinates%22%3A+%5B%5B%5B%5B8.6774288%2C+49.4046213%5D%2C+%5B8.6774288%2C+49.4064122%5D%2C+%5B8.6742192%2C+49.4064122%5D%2C+%5B8.6742192%2C+49.4046213%5D%2C+%5B8.6774288%2C+49.4046213%5D%5D%5D%5D%7D%7D%5D%7D&filter=geometry%3Aline+and+%28highway%3D%2A+or+route%3Dferry+or+railway%3Dplatform+or+%28waterway%3Dlock_gate+and+foot+in+%28yes%2C+designated%2C+official%2C+permissive%29%29%29+and+not+%28footway%3Dseparate+or+sidewalk%3Dseparate+or+sidewalk%3Aboth%3Dseparate+or+%28sidewalk%3Aright%3Dseparate+and+sidewalk%3Aleft%3Dseparate%29+or+%28sidewalk%3Aright%3Dseparate+and+sidewalk%3Aleft%3Dno%29+or+%28sidewalk%3Aright%3Dno+and+sidewalk%3Aleft%3Dseparate%29%29&properties=tags&clipGeometry=True
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/geometry
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"type\" : \"FeatureCollection\",\n  \"features\" : [{\n
        \   \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\" : \"LineString\",\n
        \     \"coordinates\" : [\n        [\n          8.6758274,\n          49.4064122\n
        \       ],\n        [\n          8.6758184,\n          49.4063867\n        ],\n
        \       [\n          8.6758179,\n          49.4062657\n        ],\n        [\n
        \         8.6758178,\n          49.4062518\n        ],\n        [\n          8.6758153,\n
        \         49.4061834\n        ],\n        [\n          8.6758198,\n          49.4060728\n
        \       ]\n      ]\n    },\n    \"properties\" : {\n      \"@osmId\" : \"way/24794022\",\n
        \     \"@snapshotTimestamp\" : \"2026-07-27T09:00:00Z\",\n      \"access\"
        : \"permissive\",\n      \"highway\" : \"service\",\n      \"lit\" : \"no\",\n
        \     \"smoothness\" : \"intermediate\",\n      \"surface\" : \"asphalt\"\n
        \   }\n  }, {\n    \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\"
        : \"LineString\",\n      \"coordinates\" : [\n        [\n          8.6742192,\n
        \         49.4060442\n        ],\n        [\n          8.6744865,\n          49.4060507\n
        \       ],\n        [\n          8.6746781,\n          49.4060553\n        ],\n
        \       [\n          8.6747758,\n          49.4060577\n        ],\n        [\n
        \         8.6748445,\n          49.4060593\n        ],\n        [\n          8.6748677,\n
        \         49.4060599\n        ]\n      ]\n    },\n    \"properties\" : {\n
        \     \"@osmId\" : \"way/24794025\",\n      \"@snapshotTimestamp\" : \"2026-07-27T09:00:00Z\",\n
        \     \"cycleway\" : \"no\",\n      \"highway\" : \"residential\",\n      \"lanes\"
        : \"1\",\n      \"lit\" : \"yes\",\n      \"maxspeed\" : \"50\",\n      \"name\"
        : \"Alte Eppelheimer Stra\xDFe\",\n      \"name:etymology:wikidata\" : \"Q82539\",\n
        \     \"oneway\" : \"no\",\n      \"sidewalk\" : \"both\",\n      \"sidewalk:left:surface\"
        : \"asphalt\",\n      \"sidewalk:right:surface\" : \"paving_stones\",\n      \"surface\"
        : \"asphalt\",\n      \"wheelchair\" : \"yes\",\n      \"width\" : \"4\"\n
        \   }\n  }, {\n    \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\"
        : \"LineString\",\n      \"coordinates\" : [\n        [\n          8.6748677,\n
        \         49.4060599\n        ],\n        [\n          8.6748606,\n          49.4062241\n
        \       ],\n        [\n          8.6748523,\n          49.4064122\n        ]\n
        \     ]\n    },\n    \"properties\" : {\n      \"@osmId\" : \"way/24834161\",\n
        \     \"@snapshotTimestamp\" : \"2026-07-27T09:00:00Z\",\n      \"bus\" :
        \"yes\",\n      \"cycleway\" : \"no\",\n      \"highway\" : \"residential\",\n
        \     \"lanes\" : \"1\",\n      \"lit\" : \"yes\",\n      \"maxspeed\" : \"50\",\n
        \     \"name\" : \"Karl-Metz-Stra\xDFe\",\n      \"sidewalk\" : \"right\",\n
        \     \"sidewalk:right:surface\" : \"paving_stones\",\n      \"surface\" :
        \"paving_stones\",\n      \"vehicle\" : \"destination\"\n    }\n  }, {\n    \"type\"
        : \"Feature\",\n    \"geometry\" : {\n      \"type\" : \"LineString\",\n      \"coordinates\"
        : [\n        [\n          8.6749505,\n          49.4057087\n        ],\n        [\n
        \         8.6749611,\n          49.4057202\n        ],\n        [\n          8.6749685,\n
        \         49.405722\n        ],\n        [\n          8.6749831,\n          49.4057274\n
        \       ]\n      ]\n    },\n    \"properties\" : {\n      \"@osmId\" : \"way/24834175\",\n
        \     \"@snapshotTimestamp\" : \"2026-07-27T09:00:00Z\",\n      \"highway\"
        : \"service\",\n      \"lanes\" : \"1\",\n      \"layer\" : \"-1\",\n      \"lit\"
        : \"yes\",\n      \"maxheight\" : \"2\",\n      \"oneway\" : \"yes\",\n      \"surface\"
        : \"asphalt\",\n      \"tunnel\" : \"yes\",\n      \"width\" : \"2\"\n    }\n
        \ }, {\n    \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\"
        : \"LineString\",\n      \"coordinates\" : [\n        [\n          8.6749479,\n
        \         49.4057839\n        ],\n        [\n          8.6749404,\n          49.4059908\n
        \       ],\n        [\n          8.6749378,\n          49.4060616\n        ]\n
        \     ]\n    },\n    \"properties\" : {\n      \"@osmId\" : \"way/24834177\",\n
        \    [...]
[...]
- request:
    body: bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22id%22%3A+%220%22%2C+%22type%22%3A+%22Feature%22%2C+%22properties%22%3A+%7B%7D%2C+%22geometry%22%3A+%7B%22type%22%3A+%22MultiPolygon%22%2C+%22coordinates%22%3A+%5B%5B%5B%5B8.6774288%2C+49.4046213%5D%2C+%5B8.6774288%2C+49.4064122%5D%2C+%5B8.6742192%2C+49.4064122%5D%2C+%5B8.6742192%2C+49.4046213%5D%2C+%5B8.6774288%2C+49.4046213%5D%5D%5D%5D%7D%7D%5D%7D&filter=geometry%3Apolygon+and+boundary%3Dadministrative+and+admin_level%3D1&properties=tags&clipGeometry=True
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/geometry
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"type\" : \"FeatureCollection\",\n  \"features\" : []\n}\n"
    headers:
      Content-Type:
      - application/geo+json;charset=utf-8
      Content-disposition:
      - attachment;filename=ohsome.geojson
    status:
      code: 200
      message: ''
version: 1
