interactions:
- request:
    body: bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22id%22%3A+%220%22%2C+%22type%22%3A+%22Feature%22%2C+%22properties%22%3A+%7B%7D%2C+%22geometry%22%3A+%7B%22type%22%3A+%22Polygon%22%2C+%22coordinates%22%3A+%5B%5B%5B9.0%2C+49.0%5D%2C+%5B9.0%2C+49.5%5D%2C+%5B8.5%2C+49.5%5D%2C+%5B8.5%2C+49.0%5D%2C+%5B9.0%2C+49.0%5D%5D%5D%7D%7D%5D%7D&filter=geometry%3Aline+and+%28highway%3D%2A+or+route%3Dferry+or+railway%3Dplatform+or+%28waterway%3Dlock_gate+and+foot+in+%28yes%2C+designated%2C+official%2C+permissive%29%29%29+and+not+%28footway%3Dseparate+or+sidewalk%3Dseparate+or+sidewalk%3Aboth%3Dseparate+or+%28sidewalk%3Aright%3Dseparate+and+sidewalk%3Aleft%3Dseparate%29+or+%28sidewalk%3Aright%3Dseparate+and+sidewalk%3Aleft%3Dno%29+or+%28sidewalk%3Aright%3Dno+and+sidewalk%3Aleft%3Dseparate%29%29
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/count
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"result\" : [ {\n    \"timestamp\" : \"2026-07-27T09:00:00Z\",\n
        \   \"value\" : 175559.0\n  } ]\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
