interactions:
- request:
    body: bpolys=%7B%22type%22%3A+%22FeatureCollection%22%2C+%22features%22%3A+%5B%7B%22id%22%3A+%220%22%2C+%22type%22%3A+%22Feature%22%2C+%22properties%22%3A+%7B%7D%2C+%22geometry%22%3A+%7B%22type%22%3A+%22MultiPolygon%22%2C+%22coordinates%22%3A+%5B%5B%5B%5B8.7108559%2C+49.407988%5D%2C+%5B8.7108559%2C+49.4136026%5D%2C+%5B8.6983273%2C+49.4136026%5D%2C+%5B8.6983273%2C+49.407988%5D%2C+%5B8.7108559%2C+49.407988%5D%5D%5D%5D%7D%7D%5D%7D&filter=geometry%3Apolygon+and+boundary%3Dadministrative+and+admin_level%3D9&properties=tags&clipGeometry=True
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.ohsome.org/v1/elements/geometry
  response:
    body:
      string: "{\n  \"attribution\" : {\n    \"url\" : \"https://ohsome.org/copyrights\",\n
        \   \"text\" : \"\xA9 OpenStreetMap contributors\"\n  },\n  \"apiVersion\"
        : \"1.10.4\",\n  \"type\" : \"FeatureCollection\",\n  \"features\" : [{\n
        \   \"type\" : \"Feature\",\n    \"geometry\" : {\n      \"type\" : \"Polygon\",\n
        \     \"coordinates\" : [\n        [\n          [\n            8.7045443,\n
        \           49.4136026\n          ],\n          [\n            8.7012992,\n
        \           49.4131487\n          ],\n          [\n            8.6983273,\n
        \           49.4127011\n          ],\n          [\n            8.6983273,\n
        \           49.4136026\n          ],\n          [\n            8.7045443,\n
        \           49.4136026\n          ]\n        ]\n      ]\n    },\n    \"properties\"
        : {\n      \"@osmId\" : \"relation/3283782\",\n      \"@snapshotTimestamp\"
        : \"2026-07-27T09:00:00Z\",\n      \"admin_level\" : \"9\",\n      \"boundary\"
        : \"administrative\",\n      \"name\" : \"Neuenheim\",\n      \"type\" : \"boundary\",\n
        \     \"wikidata\" : \"Q1980045\",\n      \"wikimedia_commons\" : \"Category:Neuenheim\",\n
        \     \"wikipedia\" : \"de:Neuenheim\"\n    }\n  }, {\n    \"type\" : \"Feature\",\n
        \   \"geometry\" : {\n      \"type\" : \"Polygon\",\n      \"coordinates\"
        : [\n        [\n          [\n            8.6983273,\n            49.4127011\n
        \         ],\n          [\n            8.7012992,\n            49.4131487\n
        \         ],\n          [\n            8.7045443,\n            49.4136026\n
        \         ],\n          [\n            8.7108559,\n            49.4136026\n
        \         ],\n          [\n            8.7108559,\n            49.407988\n
        \         ],\n          [\n            8.6983273,\n            49.407988\n
        \         ],\n          [\n            8.6983273,\n            49.4127011\n
        \         ]\n        ]\n      ]\n    },\n    \"properties\" : {\n      \"@osmId\"
        : \"relation/3283775\",\n      \"@snapshotTimestamp\" : \"2026-07-27T09:00:00Z\",\n
        \     \"admin_level\" : \"9\",\n      \"boundary\" : \"administrative\",\n
        \     \"name\" : \"Altstadt\",\n      \"type\" : \"boundary\"\n    }\n  }]\n}\n"
    headers:
      Content-Type:
      - application/geo+json;charset=utf-8
      Content-disposition:
      - attachment;filename=ohsome.geojson
    status:
      code: 200
      message: ''
version: 1
